.alert-box {
    -fx-background-color: black;
    -fx-padding: 20px;
}

.alert-label {
    -fx-text-fill: white;
}

.btn2, .btn-stop {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-border-color: orange;
    -fx-border-radius: 5px;
    -fx-padding: 10px 15px;
    -fx-font-size: 14px;
}

.btn2:hover, .btn-stop:hover {
    -fx-background-color: #ff7f00;
}
